conda.enabled = true


executor {
    $slurm {
        // total number of jobs that can be submitted at the same time
        queueSize = 40
    }

    $local {
        cpus = 8
        process.conda = 'env/gbk_an.yml'
        // total number of jobs that can be submitted at the same time
        queueSize = 10
        
    }
}

profiles {
    // local
    standard {
        process.conda = 'env/gbk_an.yml'
        process.executor = 'local'
        process.cpus = 8

    }

    cluster {
        process {
            conda = 'env/gbk_an.yml'
            executor = 'slurm'

            withName: 'publish_csv' {
                executor = 'local'
            }

            withLabel: 'q_mini' {
                time = '00:30:00'
                cpus = 1
                memory = '1G'
                clusterOptions = '--qos=30min'
            }
        }
    }
}